body{
    background: linear-gradient(to top, #37AFA5, #8BD3CD);
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;                   /*Single or double spaces*/
    font-family: 'URW Chancery L', cursive;
    
    width: 1680px;                      /*media for now*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
}

.thumbnail{                /*Logo*/
    width: 700px;
    cursor: pointer;        
    /*display: block;
    margin-left: auto;*/
}
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 700px;
    display: none;
    /*margin-left: auto;*/
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
} 
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: 1;}
    to {opacity: 4;}    
}

.greetings{                         /*Moving text, will take it out*/
    background-color: #8BD3CD;
    font-size: 100px;
    color: #d6ab35;
}

header {
    background-color: #8BD3CD;
    width: 100%;
    text-align: center;
    /*padding: 20px 0;*/    /*Review, customer, news, video top bar*/
    box-sizing: border-box;
}
header img {
    max-width: 80%;
    height: auto;
}

.menu-container {               /*menu icon*/
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {           /*menu icon*/
    width: 35px;
    height: 2px;
    background-color: #F7EF8A;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {                 /*menu bar1*/
    transform: translate(0, 11px) rotate(-45deg);
} 
.change .bar2 {                 /*menu bar2*/
    opacity: 0;
}
.change .bar3 {                 /*menu bar3*/
    transform: translate(0, -11px) rotate(45deg);
}

.dropbtn {                      /*Drop down button color*/
    background: linear-gradient(to bottom, #37AFA5, #8BD3CD);
    color: #F7EF8A;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #4cbbb2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #F7EF8A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8BD3CD;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    font-family: Georgia, serif;

}

.dropdown:hover .dropbtn {                  /* when hover */
    background-color: #2ea097;
}

#tabs{                              /* nav for about, service, contact boxes, and small logo*/
    background-color: #37AFA5;
    color: #F9F295;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, #37AFA5, #8BD3CD);
}

.top{                                          /*About me, Service, Contact Top bar*/
    font-family: Snell Roundhand, cursive; /*can change font later*/
    font-weight: bold;
    font-size: 20px;
}

.small-logo{
    padding: 20px;
    width: 5.5rem;
    float: left;
}

nav a {                             /*about me, service, contact top bar*/
    color: #F7EF8A; 
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

h2 {
    font-family: 'URW Chancery L', cursive;
    font-size: 2.5em;
    margin-bottom: 20px;

}

#about{                             /*picture + h2 + para section*/
    margin: auto;
    display: flex;
}
.profile{                           /*pfp*/
    max-width: 500px;
    float: left;
    height: 500px;
    border-radius: 8%;
    margin-left: 150px;

}
.h_about{                           /*About Styles*/
    font-family: Snell Roundhand, cursive; 
    font-weight: bold;
    text-align: center;
}

#services{                      /*service section*/
    margin: auto;
    display: flex;
}

.s-pic{                     /*Service pic*/
    position: relative;
    z-index: 2;
    max-width: 300px;
    height: 300px;
    border-radius: 8%;
    float: right;
}
.s-pic2{                        /*Service pic2*/
    position: relative;
    max-width: 300px;
    height: 300px;
    border-radius: 8%;
    float: right;
}

.h_service{                         /*Service Styles*/
    font-family: Snell Roundhand, cursive; 
    font-weight: bold;
    text-align: center;
    color: #EDC967;
}

#contact{                           /*contact section*/
    margin: auto;
}

.h_con{                             /*Contact Styles*/
    font-family: Snell Roundhand, cursive; 
    font-weight: bold;
    text-align: center;
}

.about-section, .services-section, .contact-section {
    font-family: Georgia, serif;
    background: linear-gradient(to top, #37AFA5, #8BD3CD);     /*#2C3E50*/
    color: #EDC967;
    padding: 100px;
/* about, service, contact boxes moving up and down*/
}

.about-section p {                  /*About para on the right*/
    text-align: center;
    margin-left: 5px;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.h_about, .about-para{          /* About centering h2 and para*/
    height: 100%; 
    box-sizing: border-box; 
    height: auto;
    width: 60%; 
    float: right;
    text-align: center; 
    padding-right: 50px;
    padding-left: 100px;
}

.services-section p{                           /*Service para on the left*/  
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    color: #EDC967;
}

.h_service, .serv-par{          /* Services centering h2 and para*/
    box-sizing: border-box; 
    width: 60%; 
    float: left;
    text-align: center; 
    padding-right: 300px;
    margin-top: 100px;
}

.menu-pic{                          /*Menu for all the services here*/
    max-width: 600px;
    float: left;
    height: 500px;
    border-radius: 8%;
    margin-left: 400px;
    margin-top: 200px;
}

.ser-text{                          /*Another page for menu*/
    font-size: 20px; 
    color: #F7EF8A; 
    font-family: Georgia, serif;
    height: 100%; 
    box-sizing: border-box; 
    height: auto;
    width: 60%; 
    float: right;
    text-align: center; 
    padding: 200px;
    font-weight: bold;
}

.contact-section p {                /*Contact para in the center*/
    font-family: Georgia, serif;
    font-size: 1.1em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.zalo{                          /*Zalo QR Code*/
    height: 60px;
    width: 60px;
}

#phone{                         /*Zalo box that moves*/
    height: 50px;
    width: 220px;
    background: linear-gradient(to top, #37AFA5, #8BD3CD);
    font-family: Georgia, serif;
    color: #EDC967;
    font-weight: bold;
    text-align: center;

    position: sticky;
    top: 20px;
    bottom: 20px;
    left: 50px;
}

#qr-code{                       /*QR Code is the child of #phone*/
    height: 60px;
    width: 60px;

    position: relative;
    bottom: 70px;
    right: 35px;
}

#myBtn {                            /*style for back to the top btn*/
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background: linear-gradient(to bottom, #37AFA5, #8BD3CD);
    color: white;
    cursor: pointer;
    padding: 10px;                  /*making the button smaller + bigger*/
    border-radius: 4px;
}

#myBtn:hover {                      /*hover back to the top*/           
    background-color: #2ea097;
}

.social-icons{                      /*Social media styles*/
    display: flex;
    width: 100px;
    gap: 20px;
}
svg{
    fill: var(--colorpirmary);
    width: 25px;
}
svg:hover{
    fill: var(--coloraccent);
}

.f-nav, .cust-foot, .r-foot, .vid-foot{
    color: #EDC967;
    font-family: Georgia, serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    border-color: #8BD3CD;

}

.s-menu, .rv-page, .c-page, .vid-page{                    /*page styles*/
    background: linear-gradient(to bottom, #37AFA5, #8BD3CD);
    overflow: hidden; 

}
.menu-style, .rv-style, .c-style, .vid-style{            /*service, review, customer, video header*/
    font-size: 40px; 
    color: #F7EF8A; 
    font-family: 'Snell Roundhand', cursive;
}

.rev{                                  /*before and after pic*/
    max-width: 400px;
    float: left;
    height: 500px;
    border-radius: 8%;
    margin-left: 200px;
    margin-top: 20px;
}

.rv-par{                                /* Review page */
    font-size: 20px; 
    color: #F7EF8A; 
    font-family: Georgia, serif;
    height: 100%; 
    box-sizing: border-box; 
    height: auto;
    width: 60%; 
    float: left;
    text-align: center; 
    padding: 80px;  
    font-weight: bold;
    margin-top: 150px;              /* For Now*/
}

.cust{                                  /* Customer pic*/
    max-width: 500px;
    float: left;
    height: 400px;
    border-radius: 8%;
    margin-left: 50px;
    margin-top: 20px;
}

.c-par{                             /*customer*/
    font-size: 20px; 
    color: #F7EF8A; 
    font-family: Georgia, serif;
    height: 100%; 
    box-sizing: border-box; 
    height: auto;
    width: 60%; 
    float: right;
    text-align: center; 
    padding-right: 80px;
    font-weight: bold;
}

.vid-par{
    font-size: 20px; 
    color: #F7EF8A; 
    font-family: Georgia, serif;
    height: 100%; 
    box-sizing: border-box; 
    height: auto;
    width: 60%; 
    float: left;
    text-align: center; 
    padding-left: 195px;  
    font-weight: bold;
}

.rv-home, .rv-next {
    margin: 20px;
    font-size: 20px; 
}
.c-home, .c-next, .c-prev{      /*customer page*/
    margin-left: 20px;
    font-size: 20px;
}
.n-home, .n-next, .n-prev{      /*news page*/
    margin-left: 20px;
    font-size: 20px;
}
.vid-home, .vid-next, .vid-prev{      /*video page*/
    margin-left: 20px;
    font-size: 20px;
}

/*Trying to make mobile version*/

@media (max-width: 1680px) {
    body{
        max-width: 1024%;
    }
    
}

@media (max-width: 1024px) {
    body{
        width: 768%;
    }
    
}
@media (max-width: 768px) {
    body{
        width: 425%;
    }

    .profile{
        margin-left: 800px;
        width: 400px;
        height: 550px;
        margin-bottom: 150px;
    }

    .about-section p {                  /*About para on the right*/
        font-size: 30px;
        padding-right: 400px;
        padding-left: 300px;
    }

    .h_about{        
        padding-right: 400px;
        padding-left: 300px;
        font-size: 75px;
    }

    .services-section p{                           /*Service para on the left*/  
        font-size: 30px;
        padding-right: 300px;
        padding-left: 400px;
        padding-bottom: 85px;
        font-weight: bold;
    }

    .s-pic{                     /*Service pic*/
        max-width: 500px;
        height: 500px;
        margin-top: 320px;
        margin-bottom: 200px;
        margin-right: 200px;
    }
    .s-pic2{                        /*Service pic2*/
        max-width: 500px;
        height: 500px;
    }

    .h_service {          /* Services centering h2 and para*/
        padding-right: 300px;
        padding-left: 400px;
        padding-top: 85px;
        font-size: 75px;
    }

    .h_con{                             /*Contact Styles*/
        font-size: 75px;
        font-weight: bold;
    }

    .contact-section p {                /*Contact para in the center*/
        font-size: 30px;
        font-weight: bold;
    }

    .rev{       
        margin-left: 600px;
        margin-top: 20px;
    }

    .rv-par{                                /* Review page */
        padding-left: 200px;
        padding-right: 500px;  
    }
    
    .cust{                                  /* Customer pic*/
        max-width: 750px;
        height: 750px;
        margin-left: 500px;
        margin-top: 120px;
    }
    
    .c-par{                             /*customer*/
        font-size: 30px; 
        width: 60%; 
        padding-right: 800px;
        margin-top: 100px;
        font-weight: bold;
    }
}

@media (max-width: 425px) {
    body{
        width: 375%;
    }
    .profile{
        margin-left: 60px;

    }
    .about-section p {                  /*About para on the right*/
        font-size: 25px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .h_about {        
        padding-right: 20px;
        padding-left: 60px;
        font-size: 75px;
    }

    .services-section p{                           /*Service para on the left*/  
        font-size: 25px;
        padding-left: 40px;
        font-weight: bold;
    }

    .s-pic{                                 /*Service pic*/
        max-width: 300px;
        height: 250px;
        margin-right: 50px;
    }

    .s-pic2{                                /*Service pic2*/
        max-width: 300px;
        height: 250px;

    }

    .h_service {                            /* Services centering h2 and para*/
        padding-right: 250px;
        padding-left: 1px;
        font-size: 75px;
    }

    .h_con{                             /*Contact Styles*/
        font-size: 75px;
        font-weight: bold;
    }

    .contact-section p {                /*Contact para in the center*/
        font-size: 25px;
        font-weight: bold;
    }   
    
    .rev{     
        width: 250px; 
        height: 400px; 
        margin-left: 350px;
        margin-top: 10px;
    }

    .rv-par{                                /* Review page */
        padding-left: 100px;
        padding-right: 100px; 
        margin-top: 50px; 
    }
    
    .cust{                                  /* Customer pic*/
        max-width: 500px;
        height: 500px;
        margin-left: 100px;
        margin-top: 200px;
    }
    
    .c-par{                             /*customer*/
        font-size: 25px; 
        padding-right: 80px;
        margin-top: 100px;
        font-weight: bold;
    }
}

@media (max-width: 375px) {
    body{
        width: 320%;
        
    }
    .profile{
        margin-left: 30px;
        width: 300px;
        height: 400px;
    }

    .about-section p {                  /*About para on the right*/
        font-size: 18px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .h_about {        
        padding-right: 20px;
        padding-left: 40px;
        font-size: 45px;
    }
    
    .services-section p{                           /*Service para on the left*/  
        font-size: 15px;
        padding-left: 20px;
        font-weight: bold;
        margin-left: 100px;
    }

    .s-pic{                                 /*Service pic*/
        width: 100px;
        height: 200px;
        margin-right: 90px;
    }

    .s-pic2{                                /*Service pic2*/
        width: 100px;
        height: 200px;
        margin-top: 45px;
    }

    .h_service {                            /* Services centering h2 and para*/
        padding-right: 250px;
        padding-left: 170px;
        font-size: 45px;
    }

    .h_con{                             /*Contact Styles*/
        font-size: 45px;
        font-weight: bold;
    }

    .contact-section p {                /*Contact para in the center*/
        font-size: 15px;
        font-weight: bold;
    }  

    .rev{       
        margin-left: 100px;
        margin-top: 20px;
    }

    .rv-par{                                /* Review page */
        padding-left: 100px;  
    }

    .cust{                                  /* Customer pic*/
        max-width: 400px;
        height: 400px;
        margin-left: 40px;
        margin-top: 60px;
    }
    
    .c-par{                             /*customer*/
        font-size: 18px; 
        padding-right: 50px;
        margin-top: 20px;
        font-weight: bold;
    }

}

@media (max-width: 320px) {
    body{
        width: 320%;
        
    }
    .profile{
        margin-left: 25px;
        width: 250px;
        height: 400px;
    }

    .about-section p {                  /*About para on the right*/
        font-size: 15px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .h_about {        
        padding-right: 20px;
        padding-left: 40px;
        font-size: 45px;
    }
    
    .services-section p{                           /*Service para on the left*/  
        font-size: 13px;
        padding-left: 10px;
        font-weight: bold;
        margin-left: 50px;
    }

    .s-pic{                                 /*Service pic*/
        width: 100px;
        height: 200px;
        margin-right: 50px;
    }

    .s-pic2{                                /*Service pic2*/
        width: 100px;
        height: 200px;
        margin-top: 45px;
    }

    .h_service {                            /* Services centering h2 and para*/
        padding-right: 230px;
        padding-left: 40px;
        font-size: 45px;
    }

    .h_con{                             /*Contact Styles*/
        font-size: 45px;
        font-weight: bold;
    }

    .contact-section p {                /*Contact para in the center*/
        font-size: 15px;
        font-weight: bold;
    }  
    
    .rev{       
        margin-left: 100px;
        margin-top: 20px;
    }

    .rv-par{                                /* Review page */
        padding-left: 100px;      
    }

    .cust{                                  /* Customer pic*/
        max-width: 300px;
        height: 300px;
        margin-left: 40px;
        margin-top: 60px;
    }
    
    .c-par{                             /*customer*/
        font-size: 15px; 
        padding-right: 50px;
        margin-top: 20px;
        font-weight: bold;
    }
}





/*

@media (max-width: 747px) {
    body{
        width: 747%;
        
    }
    .profile{
        margin-left: 300px;
        width: 300px;
        height: 400px;
    }

    .about-section p {                  /*About para on the right
    font-size: 22px;
    padding-right: 10px;
    padding-left: 10px;
}

.h_about { 
    font-size: 75px;       
    padding-right: 20px;
    padding-left: 40px;
}

.services-section p{                           /*Service para on the left  
    font-size: 22px;
    padding-left: 10px;
    font-weight: bold;
    margin-left: 50px;
}

.s-pic{                                 /*Service pic
    width: 300px;
    height: 300px;
    margin-right: 200px;
}

.s-pic2{                                /*Service pic2
    width: 300px;
    height: 300px;
}

.h_service {                            /* Services centering h2 and para
    padding-right: 230px;
    padding-left: 40px;
    font-size: 75px;       
}

.h_con{                             /*Contact Styles
    font-size: 75px;
    font-weight: bold;
}

.contact-section p {                /*Contact para in the center
    font-size: 22px;
    font-weight: bold;
}  

.rev{       
    margin-left: 500px;
}

.rv-par{                                /* Review page
    padding-left: 100px;     
}

.cust{                                  /* Customer pic
    max-width: 500px;
    height: 500px;
    margin-left: 200px;
    margin-top: 40px;
}

.c-par{                             /*customer
    font-size: 22px; 
    padding-right: 50px;
    margin-top: 85px;
    font-weight: bold;
}
}




nav{       /*about, service, contact boxes, and small logo
background-color: #37AFA5;
color: #F9F295;
padding: 10px;
text-align: center;
position: sticky;
top: 0;
z-index: 1000;
background: linear-gradient(to bottom, #37AFA5, #8BD3CD);
}


#foot-bar{
    background-color: #37AFA5;
    color: #F9F295;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to top, #8BD3CD, #37AFA5,);
}


.break1{
    display: block;
    content: "";
    margin-top: 150px;
    background-color: #8BD3CD;

}

.break2{ 
    display: block;
    content: "";
    margin-top: 200px;
    background-color: #8BD3CD;

}

display: inline-block;
    vertical-align: top;
/*
.container {         Making boxes for about, services, and contact
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.a, .b, .c{             /*border ring around the box
border: 2px solid #EDC967; 
height: 100%; 
box-sizing: border-box; 
padding: 1rem; 
text-align: center; 
}


select{                /*Translation box
float: right;
padding: 2px;
background-color: #37AFA5;
color: #F9F295;
border-color: #F7EF8A; /*Just this color for now
}

.showcase{
    position: relative;
    height: 100vh;
    padding: 2rem;
    text-align: center;
}*/